body {
    padding: 20px;
}

/* div {
    border: 1px solid blue;
} */

.logo {
    width: 100%;
}

.menu-superior {
    text-align: right;
}

.menu-superior li {
    display: inline;
    margin-right: 20px;
}

.producto {
    width: 100%;
}

#datos, #foto, #botones {
    border: 1px solid white;
}

.ancho-boton {
    width: 200px;
}

.tamano {
    height: 50px;
}

h6 {
    border: 2px solid gray;
}

td {
    border: 2px solid gray;
}

.letra-verde {
    color: limegreen;
}

.centro {
    text-align: center;
}

.error {
    color: red;
    font-weight: bolder;
    font-style: italic;
  }